::ng-deep.dissabte {
    background:#ababab;
    border-radius: 0%;
}
::ng-deep.diumenge {
    background: grey;
    border-radius: 0%;
    font-weight:600;
}

::ng-deep.mood0 {
    background: rgb(185, 100, 100);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood1 {
    background: rgb(212, 206, 113);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood2 {
    background: rgb(180, 221, 133);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood3 {
    background: rgb(119, 226, 212);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood4 {
    background: rgb(133, 116, 231);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood5 {
    background: rgb(189, 99, 224) !important;
    background-color: rgb(189, 99, 224) !important;
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood5 {
    background: rgb(224, 154, 63);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood6 {
    background: rgb(119, 231, 157);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood7 {
    background: rgb(33, 120, 155);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood8 {
    background: rgb(233, 185, 185) !important;
    background-color: rgb(233, 185, 185) !important;
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood9 {
    background: rgb(70, 103, 209);
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.mood10 {
    background: rgb(206, 94, 94);
    border-radius: 0%;
    font-weight:600;
}


.mat-calendar-body-cell-container{
    border-radius:0px;
}