<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendari emocional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col lg-3 md-2> </ion-col>
      <ion-col lg-6 md->
        <div>
          <ion-card style="background-color: white;">
            <mat-calendar [(selected)]="selected" [dateClass]="dateClass"></mat-calendar>
          </ion-card>
        </div>
      </ion-col>
      <ion-col lg-3 md-2> </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>