::ng-deep.dissabte {
    background: #ababab !important;
    border-radius: 0%;
}
::ng-deep.diumenge {
    background: grey !important;
    border-radius: 0%;
    font-weight:600;
}
::ng-deep.redDay {
    background: rgb(255, 120, 120) !important;
    border-radius: 100%;
    font-weight:300;
}

