<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estadístiques mensuals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container>
    <ion-list style="text-align:center">
      <ion-label>{{selectedMonth}}, {{selectedYear}}</ion-label>
    </ion-list>

  </ng-container>
  <div echarts [options]="option" [extentions]="echartsExtentions"></div>

  <ion-button expand="block" (click)="showPicker()">Selecciona mes/any a mostrar</ion-button>

</ion-content>
